:root {
  --main-color: #154d71;
  --second-color: #1c6ea4;
  --third-color: #33a1e0;
  --main-transition: 0.3s;
  --background-color: #fff;
}
* {
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  /* max-width: 1170px; */
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/*  Start setting Box  */

.settings-box {
  position: fixed;
  background-color: var(--background-color);
  width: 200px;
  height: 100vh;
  left: -200px;
  top: 0;
  border: 1px solid #eee;
  z-index: 1000;
  transition: var(--main-transition);
}

.settings-box.open {
  left: 0;
}

.settings-box .toogle-setting {
  position: absolute;
  top: 100px;
  right: -30px;
  background-color: var(--background-color);
  color: var(--main-color);
  text-align: center;
  cursor: pointer;
}

.settings-box .toogle-setting .icon {
  font-size: 18px;
  width: 30px;
  padding: 8px 0;
}

.settings-container .option-box {
  text-align: center;
  background-color: #eee;
  padding: 10px;
  margin: 10px;
}
.settings-container h2 {
  transition: var(--main-transition);
  color: var(--main-color);
  margin: 10px;
}
.settings-container .color-list {
  padding: 0;
  margin: 10px 0 0;
}
.settings-container li {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.3;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: var(--main-transition);
  border: 3px solid #fff;
}
.settings-container li.active {
  transition: var(--main-transition);
  opacity: 1;
  border-color: #fff;
}
.settings-container li:first-child {
  background-color: #154d71;
}
.settings-container li:nth-child(2) {
  background-color: chocolate;
}
.settings-container li:nth-child(3) {
  background-color: seagreen;
}
.settings-container li:nth-child(4) {
  background-color: cadetblue;
}
.settings-container li:nth-child(5) {
  background-color: olive;
}

.option-box h4 {
  color: #666;
  font-size: 14px;
  margin: 0;
  transition: var(--main-transition);
}

.option-box {
  margin: 10px;
}
.settings-box .yes,
.settings-box .no {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  padding: 7px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
}

.option-box .active {
  opacity: 1;
}
/*  End setting Box  */
/* Start Landing Page */
.landing-page {
  height: 100vh;
  background-image: url(../Imgs/01.jpg);
  background-size: cover;
  position: relative;
  transition: var(--main-transition);
}
.landing-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header-area {
  position: relative;
  color: var(--background-color);
  z-index: 2;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  color: var(--main-color);
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.header-area .links {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}
.header-area .links li {
  display: inline-block;
  margin-left: 20px;
}

.header-area .links li a {
  text-decoration: none;
  transition: var(--main-transition);
  color: var(--background-color);
}

.header-area .links li a.hover-temp,
.header-area .links li a.active {
  color: var(--main-color);
}
.header-area .links-container .toggle-menu {
  background: none;
  border: none;
  width: 45px;
  margin-top: 15px;
  cursor: pointer;
  display: none;
  position: relative;
}

.header-area .links-container .toggle-menu.menu-active::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 10px;
  bottom: -14px;
  left: 13px;
  transition: var(--main-transition);
}
.header-area .links-container .toggle-menu:focus {
  outline: none;
}

.header-area .links-container .toggle-menu span {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  background-color: var(--background-color);
}

@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }

  .header-area .links.open {
    display: block;
    position: absolute;
    background-color: var(--background-color);
    right: 0;
    top: 50px;
    text-align: left;
    padding: 10px;
  }
  .header-area .links.open li {
    display: block;
    margin: 5px 10px;
  }
  .header-area .links.open li a.active,
  .header-area .links.open li a.hover-temp {
    color: var(--main-color);
  }
  .header-area .links.open li a {
    color: black;
    font-weight: bold;
  }

  .header-area .links-container .toggle-menu {
    display: inline-block;
  }
}

.introduction-text {
  position: absolute;
  color: var(--background-color);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.introduction-text h1 {
  margin: 0 0 12px;
  font-size: 34px;
}

@media (max-width: 575px) {
  .introduction-text h1 {
    width: 100%;
    font-size: 25px;
  }
}

.introduction-text span {
  color: var(--main-color);
  transition: var(--main-transition);
}

.introduction-text p {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}
@media (max-width: 992px) {
  .introduction-text p {
    margin: 0 30px;
  }
}

/* End Landing Page */
/* Start About Us */

.about-us {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-us .info-box {
  flex: 1;
}

@media (max-width: 575px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
  transition: var(--main-transition);
}
.about-us p {
  color: #a9a9a9;
  line-height: 1.8;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us img {
  max-width: 100%;
  height: auto;
}

/* End About Us */

/* Start Nav Bullet */
.nav-bullets {
  position: fixed;
  width: 40px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: none;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: var(--main-transition);
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .tooltip {
  color: var(--background-color);
  background-color: var(--main-color);
  width: 120px;
  padding: 8px 10px;
  position: absolute;
  transition: var(--main-transition);
  right: 32px;
  top: -10px;
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-bullets .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  border-style: solid;
  border-width: 12px;
  right: -24px;
  border-color: transparent transparent transparent var(--main-color);
  transform: translateY(-50%);
}
/* End Nav Bullet */
/* Start Reset */

.reset-box .reset {
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  padding: 7px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

/* End Reset */
/* Start skills */
.skills {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills h2 {
  text-align: center;
  color: var(--main-color);
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 30px;
  transition: var(--main-transition);
}
.skills .skill-box {
  padding: 15px;
  margin-bottom: 15px;
  background-color: var(--background-color);
  display: flex;
}

@media (max-width: 575px) {
  .skills .skill-box {
    display: block;
  }
}

.skills .skill-name {
  width: 140px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: 575px) {
  .skills .skill-name {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
}
.skills .skill-progress {
  background-color: #f6f6f6;
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  overflow: hidden;
}
.skills .skill-progress span {
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  transition: all 0.7s;
}

/* End skills */
/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  text-align: center;
  color: var(--main-color);
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 30px;
  transition: var(--main-transition);
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 2px;
  background-color: #f6f6f6;
  cursor: pointer;
}

/* Start Gallery Popup */
.last-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 1000;
  transition: var(--main-transition);
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1001;
  transition: var(--main-transition);
}

.popup-box h3 {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin: 5px 0 10px;
}
.popup-box img {
  width: 100%;
  transition: var(--main-transition);
}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: var(--main-color);
  color: var(--background-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: arial, Tahoma;
  border-radius: 50%;
  cursor: pointer;
}
/* End Gallery Popup */
/* End Gallery */

/* Stert Time Line */

.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.timeline .timeline-contant {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-contant::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline .timeline-contant .year {
  position: relative;
  color: var(--background-color);
  background-color: var(--main-color);
  padding: 2px 5px;
  margin: 20px auto;
  width: 50px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  transition: var(--main-transition);
  z-index: 2;
}
.timeline .timeline-contant .left,
.timeline .timeline-contant .right {
  background-color: var(--background-color);
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  transition: var(--main-transition);
}

.timeline .timeline-contant .left {
  float: left;
  position: relative;
}

.timeline .timeline-contant .left::before {
  right: -35px;
}

.timeline .timeline-contant .right {
  float: right;
}

.timeline .timeline-contant .right::before {
  left: -35px;
}

/* Glopanin Rigth and Left  */
.timeline .timeline-contant .left::before,
.timeline .timeline-contant .right::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20px;
  background-color: white;
  border: 3px solid var(--main-color);
  transition: var(--main-transition);
}

.timeline .timeline-contant .contant {
  padding: 20px;
  background-color: var(--background-color);
}

.timeline .timeline-contant .left .contant::before,
.timeline .timeline-contant .right .contant::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 20px;
  border-style: solid;
  border-width: 10px;
}

.timeline .timeline-contant .left .contant::before {
  right: -20px;
  border-color: transparent transparent transparent white;
}

.timeline .timeline-contant .right .contant::before {
  left: -20px;
  border-color: transparent white transparent transparent;
}

@media (max-width: 767px) {
  .timeline .timeline-contant .left,
  .timeline .timeline-contant .right {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .timeline .timeline-contant .left::before,
  .timeline .timeline-contant .right::before {
    display: none;
  }
  .timeline .timeline-contant .left .contant::before,
  .timeline .timeline-contant .right .contant::before {
    display: none;
  }
}

.timeline .timeline-contant .contant h3 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 10px;
  transition: var(--main-transition);
}
.timeline .timeline-contant .contant p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
/* End Time Line */
/* Start Featuers */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 60px;
  font-size: 30px;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}

.features .feat-box img {
  width: 96px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  font-weight: bold;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  margin-left: -20px;
  left: 50%;
  bottom: -22px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.features .feat-box p {
  width: 80%;
  line-height: 1.7;
  color: #706f6f;
  margin: 0 auto;
}
/* End Featuers */

/* Start Testimonials */
.testimonial {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 500px;
  position: relative;
}

.testimonial::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: var(--main-transition);
}
.testimonial::after {
  content: "";
  position: absolute;
  background-color: #333;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.testimonial h2 {
  text-align: center;
  color: var(--background-color);
  font-weight: bold;
  margin: 0 0 30px;
  font-size: 30px;
  position: relative;
  z-index: 2;
}

.testimonial .ts-box {
  background-color: var(--background-color);
  padding: 20px;
  width: calc(98% / 3);
  float: left;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .testimonial .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
}
.testimonial .ts-box:not(:last-of-type) {
  margin-right: 1%;
}

.testimonial .ts-box > p {
  color: #545353;
  line-height: 1.5;
  font-size: 18px;
  margin: 0 0 20px;
  font-style: italic;
}

.testimonial .ts-box .info-box {
  overflow: hidden;
}

@media (max-width: 991px) {
  .testimonial .ts-box .info-box {
    text-align: center;
    overflow: visible;
  }
}
.testimonial .ts-box .info-box img {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .testimonial .ts-box .info-box img {
    float: none;
    margin-right: 0;
  }
}
.testimonial .ts-box .info-box > h4 {
  font-weight: bold;
  font-size: 18px;
  margin: 14px 0 10px;
}

.testimonial .ts-box .info-box p {
  color: #666;
  margin: 0 0 0 10px;
}
/* End Testimonials */
/* Start Contant Us */
.contact {
  background-image: url("../imgs/world-Background-Image.jpg");
  background-size: cover;
  position: relative;
  min-height: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact .container {
  position: relative;
  z-index: 100;
}
.contact .overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 0;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.contact h2 {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 30px;
  font-size: 30px;
  position: relative;
}
.contact .left {
  float: left;
  width: 49%;
}

.contact .right {
  float: right;
  width: 49%;
}

@media (max-width: 767px) {
  .contact .left,
  .contact .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc4f;
  background-color: rgb(0 0 0 / 60%);
  caret-color: var(--main-color);
  outline: none;
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  border: 1px solid var(--main-color);
}

.contact form input {
  height: 40px;
}
.contact form textarea {
  min-height: 150px;
}
.contact form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  margin: auto;
  width: 100%;
  padding: 10px;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
  margin-top: -3px; /* دي هبدايه مني على اوازيهم مع بعض */
  transition: var(--main-transition);
}

.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: var(--main-transition);
}

.contact form input:not([type="submit"]):focus:-ms-input-placeholder,
.contact form textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: var(--main-transition);
}

.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}

/* End Contant Us */

/* Start Footer */
.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  transition: var(--main-transition);
  background-color: #333;
  color: white;
}
.footer span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  transition: var(--main-transition);
}
/* End Footer*/
/* Start Grid System */
/* Small Devieces => Landscape Phones  */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* medium Devieces => Tablets  */
@media (min-width: 678px) {
  .container {
    max-width: 720px;
  }
}

/* Desktops  */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Large Screen  */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* End Grid System */
